<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info.plist
   RVS_MediaServer

   Created by Chris Marshall on 8/5/19.
   Copyright (c) 2019 The Great Rift Valley Software Company. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
